* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hd {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: sem;
  color: white;
}
.box {
  max-width: 600px;
}
h1 {
  font-size: sem;
}
p {
  font-size: 1.2em;
}
iframe {
  border-radius: 2em;
  border: spx solid #fecf3b;
  width: 500px;
  height: 500px;
  opacity: 0.7;
  transtion: 0.3s ease-in-out;
}
iframe:hover {
  transform: scale(1.1);
  opacity: 1;
}

.animate1{
  animation: animate1;
  animation-timeline: view();
  animation-range: start 0 cover 40%;
}

@keyframes animate1 {
  from{
    margin-left: -900px;
  } 
  to{
    margin-left: 100px;
  }
}

.animate2{
  animation: animate2;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

@keyframes animate2 {
  from{
    scale: 0;
  } 
  to{
    scale: 1;
  }
}


.animate3{
  animation: animate3;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

@keyframes animate3 {
  from{
    margin-left: -400px;
  } 
  to{
    margin-left: 100px;
  }
}


